.pink { 
    padding: 20px 20px 0px 20px; 
    height: 100%;
    max-width: 500px;
    margin: auto;
} 

.pink > * {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    flex-flow: column;
    align-items: center;
    border: 2px solid rgb(186, 164, 127);
    height: calc(100% - 44px);
}

.pink p { text-align: center;}

.pink .buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0px;
    width: 100%;
}
.pink .buttons > div{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.pink .buttons button{
    width: 10vw;
    height: 10vw;
    max-width: 50px;
    max-height: 50px;
    border-radius: 25vw;
    background-color: rgb(186, 164, 127);
    background-position: center;
    background-size: 70% 70%;
    background-repeat: no-repeat;
}
.pink .buttons > div:nth-of-type(1) > button { 
    background-image: url('https://image.flaticon.com/icons/svg/149/149300.svg');
}
.pink .buttons > div:nth-of-type(2) > button { 
    background-image: url('https://image.flaticon.com/icons/svg/1077/1077976.svg');
}
.pink .buttons > div:nth-of-type(3) > button { 
    background-image: url('https://image.flaticon.com/icons/svg/1380/1380338.svg');
}



.pink .ad {
    width: 100%;
    height: 60px;
    max-width: 300px;
    background-image: url('/static/img/banner.jpg');
    background-position: center;
    background-size: contain;
}
.pink .bride-broom > div > h1 { margin-bottom: 10px;}
.pink .bride-broom > div { text-align: center; }
.pink .bride-broom img, .pink .map img, .pink .invitation img{ 
    width: 70vw;
    height: 70vw;
    max-width: 300px;
    max-height: 300px;
}
.pink .bride-broom > div:nth-of-type(2) > h4 {
    padding: 5px 20px;
    background-color: rgb(186, 164, 127);
    color: white;
}
.pink .invitation, .pink .map { 
    justify-content: center;
    padding: 20px;
    height: calc(100% - 84px);
}
.pink .invitation h2 { margin-top: 40px; }

.pink .invitation h2:nth-of-type(1) {
    background-color: rgb(186, 164, 127);
    color: white;
    padding: 5px 20px;
}
.pink .invitation h2:nth-of-type(2) { color: rgb(186, 164, 127)} 


.pink .map {
    justify-content: space-evenly;
}
.pink .map h2 {
    background-color: rgb(186, 164, 127);
    color: white;
    padding: 5px 20px;
}
.pink .map .howto {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.pink .map .howto div {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 45%;
}