.home {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'BinggraeMelona'; 
}
.home > p {
    margin-block-start: 0em;
    margin-block-end: 1em;
}
.home > img {
    width: 20vw;
}

.home header { 
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}
  

.home .home-menu{
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 50vw 50vw;
    grid-gap: 10px 10px;
}
.home .home-menu > * {font-family: 'BinggraeMelona'; }

.home .home-menu > * > img {
    width: 20vw;
    height: 20vw;
}

.home .home-menu .newLetter{
    grid-column: 1/3;
    grid-row: 1/2;
    background: #4ab8bc;
}

.home .home-menu .myGiftToOther{
    grid-column: 1/2;
    grid-row: 2/3;
    background: #589dd2;
}


.home .home-menu .myLetter{
    grid-column: 2/3;
    grid-row: 2/3;
    background: #ff912f;
}

